@use '../../assets/styles/variables';

.makeOrderWrapper {
    display: flex;
    justify-content: center;
    margin: 36px 0;

    .makeOrderBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        max-width: 400px;
        padding: 24px;
        row-gap: 10px;
        border-radius: 10px;
        background-color: variables.$secondaryColor;
    }

    .title {
        text-align: center;
        color: variables.$quandaryColor;
        font-family: variables.$primaryFont;
    }

    .input {
        border-color: variables.$secondaryColor;
        color: variables.$quandaryColor;

        .MuiInputBase-input {
            font-family: variables.$primaryFont;
            color: variables.$quandaryColor;
        }

        label {
            font-family: variables.$primaryFont;
            color: variables.$quandaryColor;
        }

        .MuiInput-underline::before {
            border-bottom-color: variables.$primaryColor;
        }

        .MuiInput-underline:after {
            border-bottom-color: variables.$quandaryColor;
        }
    }

    .button {
        color: variables.$primaryColor;
        background-color: variables.$tertiaryColor;
        font-family: variables.$primaryFont;
        align-self: center;
        width: 100%;
        margin: 8px 0 14px 0;
    }

    .additionalInformation {
        width: 100%;
        text-align: center;
        color: variables.$quandaryColor;
        font-family: variables.$primaryFont;
        font-size: 18px;
    }
}